{% extends "base.html" %}



{% block page_title %} {{ post.title }} {% endblock page_title %}


{% block content %}
<div class="card mb-3">
    {% if post.image %}
<img src="{{ post.image.url | add: 'c_fill,w_600,h_400' }}" class="img-fluid card-img-top" style="width: 100%; height: auto;" alt="{{ post.title }}">
{% else %}
<p>NO image</p>
{% endif %}
  <div class="card-body">
    <h3 class="card-title">{{ post.title }}</h3>
      <small>
    {{ post.date_created.date }} | Categories:
    {% for category in post.categories.all %}
    <a href="{% url 'category' category.name %}" style="text-decoration: none; color: #0000ff">
        {{ category.name }}
    </a> | By {{ post.updated_by }}
    {% endfor %}
</small>
    <p class="card-text">{{ post.body | linebreaks }}</p>
    <div class="share-buttons">
            <h5>Share this post:</h5>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank" class="btn btn-primary">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
            </li>
            <li class="list-inline-item">
                <a href="http://twitter.com/intent/tweet?url={{ request.build_absolute_uri}}&text={{post.title}}" target="_blank" class="btn btn-info">
                    <i class="fa fa-twitter"></i>Twitter
                </a>
            </li>
            <li class="list-inline-item">
                <a href="http://api.whatsapp.com/send?text={{ post.title }}-{{request.build_absolute_uri }}" target="_blank" class="btn btn-success">
                    <i class="fa fa-whatsapp"></i>WhatsApp
                </a>
            </li>
            <button onclick="copyToClipboard()" class="btn btn-secondary">Copy Link</button>
        </ul>
    </div>
  </div>
</div>

 <h3>Leave a comment:</h3>
    <form method="post" class="mb-3">
        {% csrf_token %}
        <div>
            {{ form.author }}
        </div>
        <div>
            {{ form.body}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h3>Comments:</h3>
    {% for comment in comments %}
        <p>
            On {{ comment.comment_made_on.date }} <b>{{ comment.author }}</b> wrote:
        <p>
            {{ comment.comment | linebreaks }}
        </p>
    {% endfor %}
{% endblock content %}